#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#container table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 20px;
}

#container th,
#container td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#container th {
  background-color: #6200ee;
  color: white;
}

#container tr:last-child td {
  border-bottom: none;
}
